html
{
    background-color: #CD5C5C;
}

table
{

    background-color: #E9967A;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

table, td, tr
{
    border: 1px solid black;

}


#cim
{
    text-align: center;
}

#babu
{
    border: 1px solid black;
}

#halmakep
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
