
body {
    font-weight: bold;
    text-align: center;
}

body td{
    border: 3px solid black;
    padding: 0px;
}

.kiskocka td {
    text-align: center;
    border: 1px solid black;
    height: 30px;
    width: 50px;
    padding: 1px;
}

#sudoku {
    display: block;
    max-block-size: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}